$themePink: #BC204E;
$themePinkLight: #da4d77;
$themeRed: #E11F2F;
$defaultFontColorLight: #989898;
$defaultFontColor: #797979;
$defaultFontColorDark: #494949;
$gradientBackground: linear-gradient(90deg, #AB205B 0%, #E11F2F 100%);