@import "./Components/sass-global";

.AppContainer {
    color: $defaultFontColor;
}

a {
    color: $defaultFontColor;
}

.AppContainer nav {
    padding: 0 5%;
}

.section-content {
    padding: 1.5rem 5%;
}

.container {
    max-width: 100%;
}

.flex-spacer {
    flex: 1;
}
.tinyText {
    font-size: 14px;
}

.boldText {
    font-weight: bolder;
}

.pinkText {
    color: $themePink;
}

.theme-btn {
    background: $gradientBackground;
    cursor: pointer;
    font-size: inherit;
    color: white;
    padding: 5px 20px;
    border: 1px solid $themePink;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    opacity: 90%;
    width: fit-content;
    &:hover
    {
        opacity: 100%;
    }

    &:focus {
        outline: none;
    }
}

.themeLink {
    &:hover {
        color: $themePink;
        text-decoration: none;
    }
}
.grayLink {
    &:hover {
        color: $defaultFontColor;
        text-decoration: none;
    }
}

.theme-hollow-btn {
    background-color: transparent;
    cursor: pointer;
    font-size: inherit;
    color: #BC204E;
    padding: 5px 20px;
    border: 1px solid #BC204E;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    opacity: 90%;
    width: fit-content;

    &:hover {
        opacity: 100%;
    }

    &:focus {
        outline: none;
    }
}

.grayed {
    color: $defaultFontColorDark;
    border-color: $defaultFontColorDark;
}

@media (max-width: 868px){
    .AppContainer > nav {
        padding: 0 5%;
    }
    
    .AllSections > .section-content {
        padding: 37px 10%;
    }  
}

@media only screen and (max-width:767px){
    // .section-content {
    //     h1 {
    //         text-align: center;
    //     } 
    // }

    .section-title {
        text-align: center;
    }
}